<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/promociones.css">
    <title>Promociones</title>
</head>
<body>

    


    <a href="/" class="p-4 hover:bg-gray-100 transition">
        <img src="/images/FlechaAtras.png" alt="Volver" class="rotate-90 w-10 h-10 object-contain cursor-pointer">
    </a>

    <h2>Promociones</h2>

    <div class="card-container">
        <!-- Card 1 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/CevicheMixto.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Ceviche Mixto</h5>
                <span class="price-tag" style="color: black;">S/. 35</span>
            </div>
        </a>
    
        <!-- Card 2 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/CevichePescado.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Ceviche de Pescado</h5>
                <span class="price-tag" style="color: black;">S/. 30</span>
            </div>
        </a>
    
        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/CevicheMariscos.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Ceviche de Mariscos</h5>
                <span class="price-tag" style="color: black;">S/. 40</span>
            </div>
        </a>


        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/JaleaPersonal.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Jalea Personal</h5>
                <span class="price-tag" style="color: black;">S/. 50</span>
            </div>
        </a>


        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/JaleaEspecial.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Jalea Especial</h5>
                <span class="price-tag" style="color: black;">S/. 70</span>
            </div>
        </a>


        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/JaleaFamiliar.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Jalea Familiar</h5>
                <span class="price-tag" style="color: black;">S/. 100</span>
            </div>
        </a>


        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/JaleaEspecialFuente.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Jalea Especial Fuente</h5>
                <span class="price-tag" style="color: black;">S/. 120</span>
            </div>
        </a>


        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/ChicharronCalamar.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Chicharron de Calamar</h5>
                <span class="price-tag" style="color: black;">S/. 30</span>
            </div>
        </a>


        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/ChicharronPescado.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Chicharron de Pescado</h5>
                <span class="price-tag" style="color: black;">S/. 30</span>
            </div>
        </a>


        <!-- Card 3 -->
        <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="card">
            <img src="/images/ChicharronPulpo.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Chicharron de Pulpo</h5>
                <span class="price-tag" style="color: black;">S/. 35</span>
            </div>
        </a>

    </div>



</body>
</html>