<nav>
    <ul>
        <li>
            <a href="/">Principal</a>
            <a href="/about">Sobre Nosotros</a>
            <a href="/promociones">Promociones</a>
            <a href="/catalogo">Servicios</a>
            <a href="/redes-sociales">Redes Sociales</a>
            <a href="/contactos">Contacto</a>
            <a href="/preguntas-frecuentes">Servicios</a>
            <a href="/bot">Chat Bot de Consultas</a>
        </li>
    </ul>
</nav>